In [32]:
import sklearn
from peewee import *
from playhouse.shortcuts import model_to_dict
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
import sys
sys.path.append('..')
from etl.models import Athlete, Action, Observation

In [46]:
#height vs weight for quarterbacks
athlete_query = Athlete.select()
athletes = [a for a in athlete_query]
athlete_dicts = [model_to_dict(a) for a in athletes]

In [47]:
#view raw data
athlete_dfrm = pd.DataFrame(athlete_dicts)
athlete_dfrm.head()

,first_name,height,id,last_name,number,position,team,weight,year
0,Emanuel,6-4,1,Porter,1,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",210,SO
1,Kolby,6-1,2,Listenbee,7,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",183,SR
2,Josh,6-3,3,Doctson,9,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",195,SR
3,Desmon,5-7,4,White,10,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",150,SO
4,Zach,6-3,5,Allen,11,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",210,SO

In [62]:
#data transformation

#convert ft-in to inches
def height_to_inches(height_str):
    try:
        (feet, inches) = height_str.split('-')
    except (ValueError):
        return None
    return int(inches) + int(feet) * 12

def clean_weight(weight_string):
    try:
        return int(weight_string)
    except (ValueError, TypeError):
        return None

def transform_athlete(a):
    a.height = height_to_inches(a.height)
    a.weight = clean_weight(a.weight)
    return a

transformed = map(transform_athlete, athletes)

In [65]:
athlete_dicts = [model_to_dict(a) for a in athletes]
athlete_dfrm = pd.DataFrame(athlete_dicts)
athlete_dfrm.head()

,first_name,height,id,last_name,number,position,team,weight,year
0,Emanuel,None,1,Porter,1,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",210,SO
1,Kolby,None,2,Listenbee,7,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",183,SR
2,Josh,None,3,Doctson,9,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",195,SR
3,Desmon,None,4,White,10,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",150,SO
4,Zach,None,5,Allen,11,WR,"{u'code': u'TCU', u'id': 247, u'name': u'TCU'}",210,SO

'6'